.add-entity {
  width: 90%;
}
.add-entity h3 {
  margin: 0;
}
.add-entity input,
.add-entity button {
  font-size: 16px;
}
.add-entity input {
  width: 100%;
  margin-bottom: 10px;
}
.add-entity button {
  width: 100%;
}
