body {
  background-color: #eaeaea;
  font-family: 'NTR', sans-serif;
  font-size: 18px;
}
a {
  text-decoration: none;
  color: #929090;
}
a:hover,
a.is-active {
  color: #80b9e5;
  cursor: pointer;
}
.clearfix {
  overflow: auto;
}
.container {
  width: 1200px;
  position: relative;
  margin: 0 auto;
}
input {
  padding: 4px;
  box-sizing: border-box;
}
.visible {
  visibility: visible;
}
.invisible {
  visibility: hidden;
}
muted {
  color: #929090;
}
button {
  height: 38px;
}
button:hover {
  cursor: pointer;
}
button.s-small {
  height: 28px;
}
button.s-large {
  height: 48px;
}
.width-1 {
  width: 1% !important;
}
.width-2 {
  width: 2% !important;
}
.width-3 {
  width: 3% !important;
}
.width-4 {
  width: 4% !important;
}
.width-5 {
  width: 5% !important;
}
.width-6 {
  width: 6% !important;
}
.width-7 {
  width: 7% !important;
}
.width-8 {
  width: 8% !important;
}
.width-9 {
  width: 9% !important;
}
.width-10 {
  width: 10% !important;
}
.width-11 {
  width: 11% !important;
}
.width-12 {
  width: 12% !important;
}
.width-13 {
  width: 13% !important;
}
.width-14 {
  width: 14% !important;
}
.width-15 {
  width: 15% !important;
}
.width-16 {
  width: 16% !important;
}
.width-17 {
  width: 17% !important;
}
.width-18 {
  width: 18% !important;
}
.width-19 {
  width: 19% !important;
}
.width-20 {
  width: 20% !important;
}
.width-21 {
  width: 21% !important;
}
.width-22 {
  width: 22% !important;
}
.width-23 {
  width: 23% !important;
}
.width-24 {
  width: 24% !important;
}
.width-25 {
  width: 25% !important;
}
.width-26 {
  width: 26% !important;
}
.width-27 {
  width: 27% !important;
}
.width-28 {
  width: 28% !important;
}
.width-29 {
  width: 29% !important;
}
.width-30 {
  width: 30% !important;
}
.width-31 {
  width: 31% !important;
}
.width-32 {
  width: 32% !important;
}
.width-33 {
  width: 33% !important;
}
.width-34 {
  width: 34% !important;
}
.width-35 {
  width: 35% !important;
}
.width-36 {
  width: 36% !important;
}
.width-37 {
  width: 37% !important;
}
.width-38 {
  width: 38% !important;
}
.width-39 {
  width: 39% !important;
}
.width-40 {
  width: 40% !important;
}
.width-41 {
  width: 41% !important;
}
.width-42 {
  width: 42% !important;
}
.width-43 {
  width: 43% !important;
}
.width-44 {
  width: 44% !important;
}
.width-45 {
  width: 45% !important;
}
.width-46 {
  width: 46% !important;
}
.width-47 {
  width: 47% !important;
}
.width-48 {
  width: 48% !important;
}
.width-49 {
  width: 49% !important;
}
.width-50 {
  width: 50% !important;
}
.width-51 {
  width: 51% !important;
}
.width-52 {
  width: 52% !important;
}
.width-53 {
  width: 53% !important;
}
.width-54 {
  width: 54% !important;
}
.width-55 {
  width: 55% !important;
}
.width-56 {
  width: 56% !important;
}
.width-57 {
  width: 57% !important;
}
.width-58 {
  width: 58% !important;
}
.width-59 {
  width: 59% !important;
}
.width-60 {
  width: 60% !important;
}
.width-61 {
  width: 61% !important;
}
.width-62 {
  width: 62% !important;
}
.width-63 {
  width: 63% !important;
}
.width-64 {
  width: 64% !important;
}
.width-65 {
  width: 65% !important;
}
.width-66 {
  width: 66% !important;
}
.width-67 {
  width: 67% !important;
}
.width-68 {
  width: 68% !important;
}
.width-69 {
  width: 69% !important;
}
.width-70 {
  width: 70% !important;
}
.width-71 {
  width: 71% !important;
}
.width-72 {
  width: 72% !important;
}
.width-73 {
  width: 73% !important;
}
.width-74 {
  width: 74% !important;
}
.width-75 {
  width: 75% !important;
}
.width-76 {
  width: 76% !important;
}
.width-77 {
  width: 77% !important;
}
.width-78 {
  width: 78% !important;
}
.width-79 {
  width: 79% !important;
}
.width-80 {
  width: 80% !important;
}
.width-81 {
  width: 81% !important;
}
.width-82 {
  width: 82% !important;
}
.width-83 {
  width: 83% !important;
}
.width-84 {
  width: 84% !important;
}
.width-85 {
  width: 85% !important;
}
.width-86 {
  width: 86% !important;
}
.width-87 {
  width: 87% !important;
}
.width-88 {
  width: 88% !important;
}
.width-89 {
  width: 89% !important;
}
.width-90 {
  width: 90% !important;
}
.width-91 {
  width: 91% !important;
}
.width-92 {
  width: 92% !important;
}
.width-93 {
  width: 93% !important;
}
.width-94 {
  width: 94% !important;
}
.width-95 {
  width: 95% !important;
}
.width-96 {
  width: 96% !important;
}
.width-97 {
  width: 97% !important;
}
.width-98 {
  width: 98% !important;
}
.width-99 {
  width: 99% !important;
}
.width-100 {
  width: 100% !important;
}
.pane-left {
  width: 30%;
  display: inline-block;
}
.pane-right {
  width: 70%;
  float: right;
  display: inline-block;
}
