.item-list-group {
  display: block;
  position: relative;
  width: 100%;
}
.item-list-group .side-left,
.item-list-group .side-right {
  display: inline-block;
}
.item-list-group .side-left a:last-of-type,
.item-list-group .side-right a:last-of-type {
  margin-right: 0;
}
.item-list-group .side-right {
  position: absolute;
  top: 0;
  right: 0;
}
.item-list-group div a.list-item {
  margin-right: 15px;
}
