.main-nav {
  background-color: transparent;
}
.signin-dropdown {
  position: absolute;
  display: none;
  background: #dedede;
  top: 30px;
  right: 0px;
  z-index: 1;
  padding: 10px;
  border: 1px solid #bdbbbb;
}
.signin-dropdown input,
.signin-dropdown button {
  display: block;
  font-size: 14px;
}
.signin-dropdown button {
  width: 100%;
}
.signin-dropdown input {
  margin-bottom: 10px;
}
