body {
  background-color: #eaeaea;
  font-family: 'NTR', sans-serif;
  font-size: 18px;
}
a {
  text-decoration: none;
  color: #929090;
}
a:hover,
a.is-active {
  color: #80b9e5;
  cursor: pointer;
}
.clearfix {
  overflow: auto;
}
.container {
  width: 1200px;
  position: relative;
  margin: 0 auto;
}
input {
  padding: 4px;
  box-sizing: border-box;
}
.visible {
  visibility: visible;
}
.invisible {
  visibility: hidden;
}
muted {
  color: #929090;
}
button {
  height: 38px;
}
button:hover {
  cursor: pointer;
}
button:hover,
button:focus {
  text-decoration: none;
  outline: 0;
}
button.s-small {
  height: 28px;
}
button.s-large {
  height: 48px;
}
button.s-green {
  background: #29ba83;
  color: #fff;
}
button.s-green:hover {
  background: #25a776;
}
.width-1 {
  width: 1% !important;
}
.width-2 {
  width: 2% !important;
}
.width-3 {
  width: 3% !important;
}
.width-4 {
  width: 4% !important;
}
.width-5 {
  width: 5% !important;
}
.width-6 {
  width: 6% !important;
}
.width-7 {
  width: 7% !important;
}
.width-8 {
  width: 8% !important;
}
.width-9 {
  width: 9% !important;
}
.width-10 {
  width: 10% !important;
}
.width-11 {
  width: 11% !important;
}
.width-12 {
  width: 12% !important;
}
.width-13 {
  width: 13% !important;
}
.width-14 {
  width: 14% !important;
}
.width-15 {
  width: 15% !important;
}
.width-16 {
  width: 16% !important;
}
.width-17 {
  width: 17% !important;
}
.width-18 {
  width: 18% !important;
}
.width-19 {
  width: 19% !important;
}
.width-20 {
  width: 20% !important;
}
.width-21 {
  width: 21% !important;
}
.width-22 {
  width: 22% !important;
}
.width-23 {
  width: 23% !important;
}
.width-24 {
  width: 24% !important;
}
.width-25 {
  width: 25% !important;
}
.width-26 {
  width: 26% !important;
}
.width-27 {
  width: 27% !important;
}
.width-28 {
  width: 28% !important;
}
.width-29 {
  width: 29% !important;
}
.width-30 {
  width: 30% !important;
}
.width-31 {
  width: 31% !important;
}
.width-32 {
  width: 32% !important;
}
.width-33 {
  width: 33% !important;
}
.width-34 {
  width: 34% !important;
}
.width-35 {
  width: 35% !important;
}
.width-36 {
  width: 36% !important;
}
.width-37 {
  width: 37% !important;
}
.width-38 {
  width: 38% !important;
}
.width-39 {
  width: 39% !important;
}
.width-40 {
  width: 40% !important;
}
.width-41 {
  width: 41% !important;
}
.width-42 {
  width: 42% !important;
}
.width-43 {
  width: 43% !important;
}
.width-44 {
  width: 44% !important;
}
.width-45 {
  width: 45% !important;
}
.width-46 {
  width: 46% !important;
}
.width-47 {
  width: 47% !important;
}
.width-48 {
  width: 48% !important;
}
.width-49 {
  width: 49% !important;
}
.width-50 {
  width: 50% !important;
}
.width-51 {
  width: 51% !important;
}
.width-52 {
  width: 52% !important;
}
.width-53 {
  width: 53% !important;
}
.width-54 {
  width: 54% !important;
}
.width-55 {
  width: 55% !important;
}
.width-56 {
  width: 56% !important;
}
.width-57 {
  width: 57% !important;
}
.width-58 {
  width: 58% !important;
}
.width-59 {
  width: 59% !important;
}
.width-60 {
  width: 60% !important;
}
.width-61 {
  width: 61% !important;
}
.width-62 {
  width: 62% !important;
}
.width-63 {
  width: 63% !important;
}
.width-64 {
  width: 64% !important;
}
.width-65 {
  width: 65% !important;
}
.width-66 {
  width: 66% !important;
}
.width-67 {
  width: 67% !important;
}
.width-68 {
  width: 68% !important;
}
.width-69 {
  width: 69% !important;
}
.width-70 {
  width: 70% !important;
}
.width-71 {
  width: 71% !important;
}
.width-72 {
  width: 72% !important;
}
.width-73 {
  width: 73% !important;
}
.width-74 {
  width: 74% !important;
}
.width-75 {
  width: 75% !important;
}
.width-76 {
  width: 76% !important;
}
.width-77 {
  width: 77% !important;
}
.width-78 {
  width: 78% !important;
}
.width-79 {
  width: 79% !important;
}
.width-80 {
  width: 80% !important;
}
.width-81 {
  width: 81% !important;
}
.width-82 {
  width: 82% !important;
}
.width-83 {
  width: 83% !important;
}
.width-84 {
  width: 84% !important;
}
.width-85 {
  width: 85% !important;
}
.width-86 {
  width: 86% !important;
}
.width-87 {
  width: 87% !important;
}
.width-88 {
  width: 88% !important;
}
.width-89 {
  width: 89% !important;
}
.width-90 {
  width: 90% !important;
}
.width-91 {
  width: 91% !important;
}
.width-92 {
  width: 92% !important;
}
.width-93 {
  width: 93% !important;
}
.width-94 {
  width: 94% !important;
}
.width-95 {
  width: 95% !important;
}
.width-96 {
  width: 96% !important;
}
.width-97 {
  width: 97% !important;
}
.width-98 {
  width: 98% !important;
}
.width-99 {
  width: 99% !important;
}
.width-100 {
  width: 100% !important;
}
.pane-left {
  width: 30%;
  display: inline-block;
}
.pane-right {
  width: 70%;
  float: right;
  display: inline-block;
}
.main-nav {
  background-color: transparent;
}
.signin-dropdown,
.bag-dropdown {
  position: absolute;
  display: none;
  background: #dedede;
  top: 30px;
  right: 0px;
  z-index: 1;
  padding: 10px;
  border: 1px solid #bdbbbb;
}
.signin-dropdown input,
.bag-dropdown input,
.signin-dropdown button,
.bag-dropdown button {
  display: block;
  font-size: 14px;
}
.signin-dropdown button,
.bag-dropdown button {
  width: 100%;
}
.signin-dropdown input,
.bag-dropdown input {
  margin-bottom: 10px;
}
.item-list-group {
  display: block;
  position: relative;
  width: 100%;
}
.item-list-group .side-left,
.item-list-group .side-right {
  display: inline-block;
}
.item-list-group .side-left a:last-of-type,
.item-list-group .side-right a:last-of-type {
  margin-right: 0;
}
.item-list-group .side-right {
  position: absolute;
  top: 0;
  right: 0;
}
.item-list-group div a.list-item {
  margin-right: 15px;
}
.footer {
  margin-top: 50px;
  padding-top: 10px;
  border-top: 1px solid #bdbbbb;
}
.products {
  width: 100%;
}
.products .product {
  display: inline-block;
  position: relative;
  margin: 10px;
  -webkit-transition: all 250ms ease;
          transition: all 250ms ease;
  cursor: pointer;
}
.products .product .product-name {
  font-size: 1.25em;
  line-height: 1.125;
}
.products .product .product-info {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 100px;
  padding: 15px;
  box-sizing: border-box;
  background: rgba(0,0,0,0.8);
  opacity: 0;
  -webkit-transition: opacity 250ms ease;
          transition: opacity 250ms ease;
  color: #fff;
}
.products .product .product-title {
  line-height: 1;
  position: absolute;
  top: 6px;
  right: 10px;
  left: 10px;
}
.products .product .product-price {
  text-align: right;
  bottom: 6px;
  position: absolute;
  line-height: 1;
  height: auto;
  right: 10px;
}
.products .product .product-purchase {
  position: absolute;
  top: 67px;
  left: 10px;
  height: 24px;
  border: none;
  width: 48%;
}
.products .product .product-rating {
  position: absolute;
  bottom: 43px;
  left: 10px;
  width: 70%;
}
.products .product .product-rating .rating-title {
  font-size: 12px;
  color: #bdbbbb;
  line-height: 1.2;
}
.products .product .product-rating .rating-bar {
  background-color: #eaeaea;
  position: relative;
  height: 12px;
  width: 100%;
  overflow: hidden;
}
.products .product .product-rating .rating-bar .rating-value {
  background-color: #80b9e5;
  height: 12px;
}
.products .product:hover {
  box-shadow: 0 0 16px 0 rgba(0,0,0,0.2);
  -webkit-transform: scale(1.1);
      -ms-transform: scale(1.1);
          transform: scale(1.1);
  z-index: 10;
}
.products .product:hover .product-info {
  opacity: 1;
}
.products .product img {
  height: 262px;
}
.add-entity {
  width: 90%;
}
.add-entity h3 {
  margin: 0;
}
.add-entity input,
.add-entity button {
  font-size: 16px;
}
.add-entity input {
  width: 100%;
  margin-bottom: 10px;
}
.add-entity button {
  width: 100%;
}
.add-entity p.as-header {
  font-size: 18px;
  margin: 0;
}
.table-list-group table {
  margin: 0px;
  padding: 0px;
  width: 100%;
  border-collapse: collapse;
  border: 1px solid $black;
}
.table-list-group table th {
  text-align: left;
  background: #fafafa;
}
.table-list-group table td {
  background: #fafafa;
}
.table-list-group table th,
.table-list-group table td {
  padding: 0px 10px;
  border-right: 1px solid $black;
  border-left: 1px solid $black;
}
.table-list-group table th:first-child,
.table-list-group table td:first-child {
  border-left: 1px solid $black;
}
.table-list-group table th:last-child,
.table-list-group table td:last-child {
  border-right: 1px solid $black;
}
.table-list-group table tr {
  border: 1px solid $black;
}
