.table-list-group {
  display: none;
}
.table-list-group table {
  margin: 0px;
  padding: 0px;
  width: 100%;
  border-collapse: collapse;
  border: 1px solid #000;
}
.table-list-group table th {
  text-align: left;
  background: #bfbcbc;
}
.table-list-group table th,
.table-list-group table td {
  padding: 0px 10px;
  border-right: 1px solid #000;
  border-left: 1px solid #000;
}
.table-list-group table th:first-child,
.table-list-group table td:first-child {
  border-left: 1px solid #000;
}
.table-list-group table th:last-child,
.table-list-group table td:last-child {
  border-right: 1px solid #000;
}
.table-list-group table tr {
  border: 1px solid #000;
}
