.add-entity
  // border 1px solid #DEDEDE
  width 400px
  margin 0 auto

  h3
    margin 0

  form
    position relative

  input,
  button
    font-size 16px

  input
    width 100%
    margin-bottom 10px
    &#selectedCategory
      width 65%
  button
    width 100%

  select
    &.book-categories
      width: 33%;
      display: inline-block;
      margin-top: 0px;
      font-size: 16px;
      float: right;

  p
    &.as-header
      font-size 18px
      margin 0
  img
    &.bookCover
      max-height 346px
      max-width 227px
      position absolute
      top 0px
      left -268px
      border 10px solid black


.add-to-cart
  input,
  button
    display block
    width 100%
    font-size 18px
    &.checkout
      margin-bottom 10px

  input
    margin-bottom 10px
