.analytics-left-nav,
.analytics-right-section
  h2
    margin 0 0 10px -30px
    line-height 1
    letter-spacing 5px
  ul
    margin 0
  li
    line-height 1.5

.analytics-right-section
  background $table-cell-bg
  position relative
  padding 10px
  h2
    font-size 24px
    margin-left 0px
  li
    margin-bottom 2px
    margin-right 40px
    padding 10px 0px 10px 60px
    border-top 1px solid $gray
    &:first-of-type
      border-top 0
  .error
    color $red
  .book-item
    position relative
  .book-photo
    position absolute
    height 70px
    width 47px
    left 0
  .book-title
    font-weight bold
    font-size 22px
  .book-info
    line-height 1
    color $black-light
  .row-section
    position relative
    padding-top 20px
    border-top 1px solid $gray
    &:first-of-type
      border-top 0
    .row-title
      font-size 24px
      margin 0
      line-height 1
    .row-sub
      color $gray
      margin 0
      line-height 1
    .order-total
      position absolute
      top 20px
      right 20px
      background gainsboro
      padding 0px 30px
    .book-price
      display: inline-block;
      position: absolute;
      top: 12px;
      right: 7px;
    .book-photo
      height 53px
      width 35px
    .book-title
      font-size 20px
    .book-info
      font-size 16px
    .book-item
      padding-left 46px
    li
      margin-bottom 7px
      margin-right 44px
    ol
      ol
        padding-left 0px
        li
          border-top 1px solid $gray-light
          &:first-of-type
            border-top 0
  .stats-display
    td
      vertical-align top
      padding-right 10px
      width 50%
      & + td
        padding-right 0px
        padding-left 10px

  .total-sales
    position absolute
    top 0px
    right 10px
    font-size 26px

  .sales-column
    &.as-weekly
      .sales-difference
        left 52px
    h3
      &.header
        margin 0 0px 5px 0
        padding-bottom 4px
        line-height 1
        border-bottom 4px solid black

    li
      padding 10px
      margin-right 0px
    ul
      position relative
      padding-left 10px
      list-style-type none
    .sales-month,
    .sales-amount,
    .sales-difference
      display table-cell

    .sales-difference
      left: 30px;
      position: relative;

    .sales-month
      min-width 100px

    .sales-amount
      top: -26px;
      float right
      position relative

    .dollar-sign,
    .diff-good,
    .diff-bad
      position relative
      display inline-block

    .sales-total,
    .sales-change,
    .sales-week
      position relative
      display table-cell

    .sales-total
      text-align right

    .sales-change
      text-align center

    .dollar-sign
      top: -5px;
      font-size: 14px;
      margin-right: 2px;
      margin-left: 8px;
    .diff-good
      color $green
    .diff-bad
      color $red

    .sales-year
      position: absolute;
      top: -32px;
      letter-spacing: 6px;
      font-size: 24px;

    .header-row
      display table
      width 100%
      margin-top: 50px;
      border-bottom: 2px solid black;

      & + li
        border-top 0
