body
  background-color $main-bg
  font-family 'NTR', sans-serif
  font-size 18px

a
  text-decoration none
  color $link-color
  &:hover,
  &.is-active
    color $blue-hover
    cursor pointer

.clearfix
  overflow auto

.container
  width 1200px
  position relative
  margin 0 auto

input
  padding 4px
  box-sizing border-box

.visible
  visibility visible

.invisible
  visibility hidden

.s-left
  float left
.s-right
  float right

muted
  color $link-color

button
  height 38px

  &:hover
    cursor pointer

  &:hover,
  &:focus
    // background $blue-hover
    // border-color $blue-hover
    text-decoration: none
    outline: 0

  &.s-small
    height 28px
  &.s-large
    height 48px

  &.s-green
    background $green
    color $white
    &:hover
      background darken($green, 10%)

for $i in (1)..(100)
  .width-{$i}
    width ($i) + 0% !important

.pane-left
  width 30%
  display inline-block

.pane-right
  width 70%
  float right
  display inline-block
