.container.as-book-detail
  width 800px
  .book-detail-panel
    .pane-left
      width 38%
    .pane-right
      width 62%
    h2,
    h3,
    h4,
    p
      margin-top 6px
      margin-bottom 0
      line-height 1
    .book-details
      margin-top 20px
      margin-bottom 20px
    .purchase-section
      button
        &.addToCart
          width 200px
          font-size 18px
      a
        &.goBack
          margin-left 20px
