$gray        = #BDBBBB
$gray-light  = #DEDEDE
$main-bg     = #EAEAEA
$blue-hover  = #80B9E5
$link-color  = #929090
$white       = #ffffff
$green       = #29BA83
$blue        = #5A9DD1
$red         = #A00D0D

// TABLE COLORS
$table-row-light = #E1E5ED
$table-row-dark = #B6BFD2
$table-header-bg = #fafafa
$table-cell-bg = #fafafa
