.main-nav
  background-color transparent

.signin-dropdown
  position absolute
  display none
  background $gray-light
  top 30px
  right 0px
  z-index 1
  padding 10px
  border 1px solid $gray

  input,
  button
    display block
    font-size 14px

  button
    width 100%

  input
    margin-bottom 10px
