.left-pane-wrapper
  margin-right 20px
  h3
    margin 0
    line-height 1
    text-decoration underline
  p
    line-height 1.3
    margin 10px 0px

  .admin-link-group
    a
      display block
      font-size 24px
