// RATING WIDTH CALCULATIONS
for $i in (1)..(10)
  .rating-{$i}
    width ($i) * 10%

.products
  width 100%
  .product
    display inline-block
    position relative
    margin 10px
    transition all 250ms ease
    cursor pointer

    .product-name
      font-size 1.25em
      line-height 1.125

    .product-info
      position absolute
      bottom 0
      left 0
      width 100%
      height 100px
      padding 15px
      box-sizing border-box
      background rgba(0,0,0,.8)
      opacity 0
      transition opacity 250ms ease
      color $white

    .product-title,
    .product-author
      white-space nowrap
      overflow hidden
      text-overflow ellipsis

    .product-title
      line-height 1
      position absolute
      top 6px
      right 10px
      left 10px

    .product-price
      text-align right
      bottom 6px
      position absolute
      line-height 1
      height auto
      right 10px

    .product-purchase
      position absolute
      top 67px
      left 10px
      height 24px
      border none
      width 48%

    .product-author
      line-height 1
      position absolute
      display inline-block
      top 26px
      left 10px
      font-size 15px
      color gray

    .product-rating
      position absolute
      bottom 30px
      left 10px
      width 70%
      .rating-title
        font-size 12px
        color $gray
        line-height 1.2
      .rating-bar
        background-color $main-bg
        position relative
        height 12px
        width 100%
        overflow hidden

        .rating-value
          background-color $blue-hover
          height 12px

    &:hover
      box-shadow 0 0 16px 0 rgba(0,0,0,.2)
      transform scale(1.10)
      z-index 10

      .product-info
        opacity 1

    img
      height 262px
      width 173px
