.search-bar
  position absolute
  top 50px
  right 32px
  border 2px solid $blue

  input
    height 42px
    font-size 18px
    width 309px
  button
    height 42px
    vertical-align top
    margin-left -5px
    background $blue
