.table-list-group
  table
    margin 0px
    padding 0px
    width 100%
    border-collapse collapse
    border 1px solid black

    th
      text-align left
      background #BFBCBC

    th,
    td
      padding 0px 10px
      border-right 1px solid black
      border-left 1px solid black

      &:first-child
        border-left 1px solid black
      &:last-child
        border-right 1px solid black

    tr
      border 1px solid black
