.container.as-user-profile
  width 800px
  .user-profile-panel
    img
      &.person-img
        // height 393px
        width 258px
    .pane-left
      width 38%
    .pane-right
      width 62%
    h2,
    h3,
    h4,
    p
      margin-top 6px
      margin-bottom 0
      line-height 1
    .book-details
      margin-top 20px
      margin-bottom 20px
    .purchase-section
      position relative
      width 200px
      button
        &.addToCart
          width 200px
          display block
          font-size 18px
      a
        &.goBack
          top 4px
          position relative
      div
        &.rating,
        &.price
          display inline-block
          position relative

        &.price
          right -38px
          position relative
          font-size 28px
          line-height 1
