.container.as-user-profile
  width 800px
  .user-profile-panel
    position relative
    img
      &.person-img
        // height 393px
        width 258px
    .pane-left
      width 38%
    .pane-right
      width 62%
    h2,
    h3,
    h4,
    p
      margin-top 6px
      margin-bottom 0
      line-height 1
    h4
      margin-top 15px
    .edit-profile
      position absolute
      top 20px
      right 20px
