WebContent/WEB-INF/web.xml
.settings
.settings/*
.project
.classpath
config.codekit
node_modules/*
src/data/dbConnect/DBConnectionPool.java
build/classes/data/dbConnect/DBConnectionPool.class
bin
build/*
